<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{static_url('favicon.ico')}}">

    <title>文件上传下载</title>

    <!-- Bootstrap core CSS -->
    <link href="{{static_url('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body class="bg-danger">
<div class="list-group col-sm-8 col-sm-offset-2">
    <ul class="list-group">
        {% if len(files) > 0 %}
            {% for file in files %}
            <li class="list-group-item">
                <div class="list-group-item">
                    {% if file["is_file"] is True %}
                        <a href="/download/file?file={{file['path']}}">
<!--                        <img class="ui-icon" src="{{static_url('download/2.png')}}" alt="文件"/>-->
                    {% else %}
                        <a href="/download/index?file={{file['path']}}">
<!--                        <img class="ui-icon" src="{{static_url('download/1.png')}}" alt="文件夹"/>-->
                    {% end %}
                    <span>{{file["name"]}}</span>
                    <span>{{file["size"]}}</span>
                    </a>
                    </a>
                </div>
            </li>
            {% end %}
        {% else %}
            该路径下没有文件。
        {% end %}
    </ul>
</div>

<script src="{{static_url('bootstrap/js/jquery.min.js')}}"></script>
<script src="{{static_url('bootstrap/js/bootstrap.min.js')}}"></script>
</body>
</html>