<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{static_url('favicon.ico')}}">

    <title>文件上传下载</title>

    <!-- Bootstrap core CSS -->
    <link href="{{static_url('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <script src="{{static_url('bootstrap/js/jquery.min.js')}}"></script>
    <script src="{{static_url('bootstrap/js/bootstrap.min.js')}}"></script>
</head>
<body>
<div class="page-header col-sm-8 col-sm-offset-2">
    haeder
</div>
<div class="col-sm-8 col-sm-offset-2">
    <br/><ul class="nav nav-pills nav-justified">
        <li><a href="/">主页</a></li>
        <li class="active"><a href="/download/index">下载</a></li>
        <li><a href="/upload/index">上传</a></li>
        <li><a href="#">主页4</a></li>
    </ul><br/><br/>
</div>
<div class="list-group col-sm-2 col-sm-offset-2 bg-info">
    <ul class="list-group">
        {% if len(disks) > 0 %}
            {% for disk in disks %}
                <span>{{disk["name"]}}</span>
                {% for par in disk["par_info"] %}
                    <li class="list-group-item">
                        <span class="list-group-item-text glyphicon glyphicon-floppy-disk">&nbsp;&nbsp;{{par['name']}}</span>
                        <br/>
                        <a class="list-group-item-text" href="/download/index?file={{par['name']}}">
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                     style="width: {{(1 - float(par['freeSize'])/float(par['size'])) * 100}}%;">
                                     &nbsp;&nbsp;
                                </div>
                            </div>
                        </a>
                    </li>
                {% end %}
            {% end %}
        {% end %}
    </ul><br/>
</div>
<div class="list-group col-sm-6 bg-danger">
    {% if len(path) > 1 %}
        <ul class="breadcrumb">
            {% for i, p in enumerate(path) %}
                {% if i > 0 %}
                    {% if i == len(path) - 1 %}
                        <li class="active">{{p.split('\\')[-1]}}</li>
                    {% else %}
                        <li><a href="/download/index?file={{p}}">{{p.split('\\')[-1]}}</a></li>
                    {% end %}
                {% end %}
            {% end %}
        </ul>
    {% end %}
    <ul class="list-group">
        {% if len(files) > 0 %}
            {% for file in files %}
            <li class="list-group-item">
                <div class="list-group-item">
                    {% if file["is_file"] is True %}
                        <a class="" href="/download/file?file={{file['path']}}">
                        <span class="glyphicon glyphicon-file"></span> &nbsp;&nbsp;
                        <span>{{file["name"]}}</span>
                        <span>{{file["size"]}}</span>
                        </a>
                    {% else %}
                        <a href="/download/index?file={{file['path']}}">
                        <span class="glyphicon glyphicon-folder-close"></span> &nbsp;&nbsp;
                        <span>{{file["name"]}}</span>
                        </a>
                    {% end %}
                </div>
            </li>
            {% end %}
        {% end %}
    </ul><br/>
</div>

<div class="footer col-sm-8 col-sm-offset-2">
    123
    <br/>
    <br/>
</div>
</body>
</html>